In [6]:
# Classic imports
import pandas as pd

In [7]:
# Gotta zip these together and get the the number of unique observations per sheet 
# they are all in order and juet gotta be multiplied by the . size of wach sheet


City = ["Cape May", "Sandy Hook", "Atlantic City", "Montauk", "Woods Hole", "Chatham", "Fort Point", "Bar Harbor",
        "Lewes", "Ocean City Inlet", "Duck", "Oregon Inlet", "Wrightsville Beach", "Springmaid", "Charleston", 
        "Fort Pulaski", "Mayport", "Lake Worth Pier", "Virginia Key", "Key West", "Naples", "Clearwater", 
        "Cedar Key", "Panama City Beach", "Dauphin Island", "Bay Wave Land", "Shell Beach", "Pilots Station", 
        "Eugene Island", "Calcasieu", "Texas Point", "Galveston Bay", "Matagorda Bay", "Aransas", "Bob Hall Pier", 
        "SPIBrazoSantiago"]

State = ["NJ", "NJ", "NJ", "NY", "MA", "MA", "NH", "ME", "DE", "DE", "NC",
         "NC", "NC", "SC", "SC", "GA", "FL", "FL", "FL", "FL", "FL", "FL", "FL", "FL", 
         "AL", "MS", "LA", "LA", "LA", "LA", "TX", "TX", "TX", "TX", "TX", "TX"]

Station =[ 8536110, 8531680, 8534720, 8510560, 8447930, 8447435, 8423898,
           8413320, 8557380, 8570283, 8651370, 8652587, 8658163, 8661070, 
           8665530, 8670870, 8720218, 8722670, 8723214, 8724580, 8725110,
           8726724, 8727520, 8729210, 8735180, 8747437, 8761305, 8760922,
           8764314, 8768094, 8770822, 8771341, 8773767, 8775241, 8775870,
           8779749 ]

In [29]:
# Read in the Sheets 

# test it
#df1 = pd.read_excel(xls, 'Sheet1')
#df2 = pd.read_excel(xls, 'Sheet2')


# Real way 
xls = pd.ExcelFile('C:\\Users\\gst8882\\Desktop\\NOAA_Test.xlsx')
# make a list with each sheet as an item in the list
df_list = []
# loop through the sheets
for i in range(1,37):
    #Sheet numbers
    s = 'Sheet'+str(i)    
    #Build the list 
    df_list.append(pd.read_excel(xls, s))

In [52]:
# they are all here
#df_list

In [39]:
# Check em out 

#test ones 
print(df1.head())

#index the list 
print(df_list[0].head())
print(df2.head())
print(df_list[1].head())

print(df_list[20].head())

        DateTime  WaterLevel Type  I  L      City State  Station
0  722816.362500       0.442   L   0  0  Cape May    NJ  8536110
1  722816.637500       2.509   HH  0  0  Cape May    NJ  8536110
2  722816.883333       0.378   LL  0  0  Cape May    NJ  8536110
3  722817.158333       2.158   H   0  0  Cape May    NJ  8536110
4  722817.408333       0.405   LL  0  0  Cape May    NJ  8536110
        DateTime  WaterLevel Type  I  L
0  722816.362500       0.442   L   0  0
1  722816.637500       2.509   HH  0  0
2  722816.883333       0.378   LL  0  0
3  722817.158333       2.158   H   0  0
4  722817.408333       0.405   LL  0  0
        DateTime  WaterLevel Type  I  L
0  723028.233333       2.033   H   0  0
1  723028.504167       0.960   LL  0  0
2  723028.766667       2.179   HH  0  0
3  723029.037500       1.036   L   0  0
4  723029.275000       1.987   H   0  0
        DateTime  WaterLevel Type  I  L
0  723028.233333       2.033   H   0  0
1  723028.504167       0.960   LL  0  0
2  723028.766667       2.179   HH  0  0
3  723029.037500       1.036   L   0  0
4  723029.275000       1.987   H   0  0
        DateTime  WaterLevel Type  I  L
0  723181.150000       1.594   H   0  1
1  723181.429167       0.479   LL  0  0
2  723181.716667       1.320   H   0  0
3  723181.945833       0.930   L   0  0
4  723182.170833       1.469   HH  0  0

In [46]:
#Make a csv so i dont have to build it every time 

import csv
csvfile = "C:\\Users\\gst8882\\Desktop\\NOAA.csv"

# this works but i need to make the whole data set 
#Assuming res is a flat list
with open(csvfile, "w") as output:
    writer = csv.writer(output, lineterminator='\n')
    for val in df_list:
        writer.writerow([val])    
# Well that doesn't fucking work 
#Assuming res is a list of lists
#with open(csvfile, "w") as output:
   # writer = csv.writer(output, lineterminator='\n')
   # writer.writerows(df_list)

In [31]:
# Create a new column for each City and State and Station 
# Pull out the index of the list above and multiply by the shape of the corresponding Data Frame(sheet)

df1["City"]=[City[0]]*df1.shape[0]
df1["State"]=[State[0]]*df1.shape[0]
df1["Station"]=[Station[0]]*df1.shape[0]
df1.head()

#It works... now do it in a loop

        DateTime  WaterLevel Type  I  L      City State  Station
0  722816.362500       0.442   L   0  0  Cape May    NJ  8536110
1  722816.637500       2.509   HH  0  0  Cape May    NJ  8536110
2  722816.883333       0.378   LL  0  0  Cape May    NJ  8536110
3  722817.158333       2.158   H   0  0  Cape May    NJ  8536110
4  722817.408333       0.405   LL  0  0  Cape May    NJ  8536110

In [ ]:
# go through the list and add the City State and Station numbers 
# make it a loop


df1["City"]=[City[0]]*df1.shape[0]
df1["State"]=[State[0]]*df1.shape[0]
df1["Station"]=[Station[0]]*df1.shape[0]
df1.head()

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54428 entries, 0 to 54427
Data columns (total 8 columns):
DateTime      54428 non-null float64
WaterLevel    54428 non-null float64
Type          54428 non-null object
I             54428 non-null int64
L             54428 non-null int64
City          54428 non-null object
State         54428 non-null object
Station       54428 non-null int64
dtypes: float64(2), int64(3), object(3)
memory usage: 3.3+ MB

In [1]:
# Test out the git hub thing